@import './_reset.scss';
@import './fonts/yanti.css';

body {
    // font-family: 'yanti';
    overflow: hidden;
}

.view {
    transition: opacity 0.5s;
}
.active {
    opacity: 1;
}
.inactive {
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.numbers-wrap {
    position: absolute;
    left: 0;    
    top: 50%;
    width: 100%;
    height: 50px;
    margin-top: -25px;
    font-size: 30px;
    line-height: 50px;

    .numbers {
        display: inline-block;
        width: 100px;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    // pointer-events: none;
}

.main {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    
    // outline: 1px solid red;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.main>.animate {
    transition: opacity 1.5s;
}

.invisible {
    position: relative;
    opacity: 0;
    z-index: -1;
}

.greeting {
    perspective: 1200px;
    .greeting-stage {
        height: 500px;
        position: relative;
        transform-origin: -100px center;
        transition: transform 2s;
        transform-style: preserve-3d;
    }

    h1 {
        position: absolute;
        top: 113px;
        left: 40px;
        font-size: 42px;

        transition: transform 0.3s;
    }

    .ipt {
        position: absolute;
        top: 182px;
        left: 45px;
        box-sizing: border-box;
        padding-left: 10px;
        width: 140px;
        height: 34px;
        background: #fff;
        border: 1px solid #c7c7c7;
        font-size: 16px;
        line-height: 34px;

        transition: transform 0.3s;
        &:focus {
            outline: none;
        }
    }
    .btn {
        display: inline-block;
        position: absolute;
        top: 182px;
        left: 200px;
        width: 40px;
        height: 34px;
        background: #42e3e5 url(../assets/images/enter.png) center no-repeat;
        cursor: pointer;

        transition: transform 0.3s;
    }
    .g-icons {
        position: absolute;
        top: 242px;
        left: 45px;
        a {
            margin-right: 3px;
        }

        transition: transform 0.3s;
    }
    .icon {
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        &.i-github {
            width: 16px;
            background-image: url(../assets/images/i-github.png);
        }
        &.i-codepen {
            width: 94px;
            background-image: url(../assets/images/i-codepen.svg);
            background-size: auto 100%;
        }
        &.i-sf {
            width: 30px;
            background-image: url(../assets/images/i-sf.png);
        }
        &.i-blog {
            width: 30px;
            background-image: url(../assets/images/i-blog.png);
        }
    }
}

.greeting.inactive {
    .greeting-stage {
        // transform: rotateY(60deg);
        transition: transform 2s 1s;
    }
    
    h1 {
        transform: translateZ(-200px);
    }
    .ipt {
        transform: translateZ(-150px);
    }
    .btn {
        transform: translateZ(-100px);
    }
    .g-icons {
        transform: translateZ(-50px);
    }   
}

.greeting.active {
    .greeting-stage {
        transition: transform 1s;
    }
}


// about
.about {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -140px;

    a {
        color: #fff;
    }
    .back-btn {
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        cursor: pointer;
        font-size: 24px;
        color: #35b4d9;
    }

    .corner {
        position: absolute;
        &:before, &:after {
            position: absolute;
            display: block;
            content: '';
            background: #35b4d9;
        }
        &:before {
            height: 1px;
            width: 100px;
        }
        &:after {
            width: 1px;
            height: 100px;
        }
    }

    .corner-1 {
        left: 0;
        top: 0;
        &:before, &:after {
            left: 0; top: 0;
        }
    }
    .corner-2 {
        right: 0;
        bottom: 0;
        &:before, &:after {
            right: 0; bottom: 0;
        }
    }

    .a-list {
        width: 375px;
        margin: 20px;
        font-size: 18px;
        line-height: 2;
        // perspective: 1200px;
        @include clearfix;
    }

    .a-item {
        float: left;
        position: relative;
        width: 110px;
        height: 110px;
        margin: 5px;
        
        perspective: 800px;
        // transform-origin: left top;

        opacity: 0;

        @for $i from 1 through 6 {
            &.animate:nth-child(#{$i}) {
                transition: transform  1s 0.05s * $i,  opacity 1s 0.05s * $i;
            }
        }

        .a-item-box {
            position: relative;
            width: 100%;
            height: 100%;
            transition: all 0.2s;
            transform-style: preserve-3d;
        }

        .a-item-con {
            transform-style: preserve-3d;
            position: relative;
            width: 100%;
            height: 100%;
            background: #79e0f6;
            text-align: center;
            color: #fff;


            transition: all 0.7s 0.1s;
        }

        .a-wrap {
            
            display: table;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }
        .a-con {
            display: table-cell;
            vertical-align: middle; 
            width: 100%;
            height: 100%;
            cursor: default;
            
            // outline: 1px solid red;
        }
    }

    .a-label {
        z-index: 2;
    }

    .a-desc {
        z-index: 1;
        transform: rotateX(180deg) translateZ(1px);
    }

    .a-item.hover, .a-item:hover {
        .a-item-con {
            transform: rotateX(180deg);
        }
        .a-label {
            z-index: 1;
        }
        .a-desc {
            z-index: 2;
        }
    }
    @at-root .no-webgl,.ie .about {
        .a-item .a-desc {
            visibility: hidden;
            transform: none;
        }
        .a-item.hover, .a-item:hover {
            .a-desc {
                visibility: visible;
            }
            .a-label {
                visibility: hidden;
            }
            .a-item-con {
                transform: none;
            }
        }
    }



    .a-item:nth-child(1) .a-item-con {
        background: #79e0f6;
    }
    .a-item:nth-child(2) .a-item-con {
        background: #3eccea;
    }
    .a-item:nth-child(3) .a-item-con {
        background: #79eff6;
    }
    .a-item:nth-child(4) .a-item-con {
        background: #79eff6;
    }
    .a-item:nth-child(5) .a-item-con {
        background: #45e0f7;
    }
    .a-item:nth-child(6) .a-item-con {
        background: #79e0f6;
    }

    .a-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        &.shufa {
            background-image: url(../assets/images/yong.png);
        }
        &.guitar {
            background-image: url(../assets/images/guitar.png);
        }
        &.lanqiu {
            background-image: url(../assets/images/lanqiu.png);
        }
        &.sumiao {
            background-image: url(../assets/images/sumiao.png);
        }
        &.tenda {
            width: 70px;
            background-image: url(../assets/images/tenda.png);
        }
        &.meizu {
            width: 70px;
            background-image: url(../assets/images/meizu.png);
        }
        &.qianduan {
            width: 40px;
            background-image: url(../assets/images/qianduan.png);
        }
        &.m3 {
            width: 40px;
            height: 40px;
            background-image: url(../assets/images/m3.png);
        }        
    }


    .a-item.career .a-desc {
        font-size: 14px;
    }


    .fa-wechat {
        cursor: pointer;
    }
}

.about.active {
    .a-list {
        .a-item {
            // transition-timing-function: ease-in;
            opacity: 1;
        }
    }
}
.about.inactive {
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.375, 0.12, 0.865, 1);
    .a-list {
        .a-item {
            transition-timing-function: cubic-bezier(0.075, 0.32, 0.865, 1);
        }
    }
}




























